@tailwind base;
@tailwind components;
@tailwind utilities;
@keyframes scan {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(100vh);
  }
}
.animate-scan {
  animation: scan 2s linear infinite;
}